/* Primary colours*/
/* Font used in entire application will specify here */
/* Primary colours*/
/* Font used in entire application will specify here */
.buyer-list-container {
  height: 100%; }

.buyer-list-img {
  width: 40px;
  height: 40px;
  margin: 0 5px 0 0; }
