@import "../../scss/utilities";
@import "../../scss/variables";

.container {
  padding: 50px;
  display: flex;

  .composition {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px $BLACK_SHADE_10;
    border-radius: 4px;
    padding: 20px;
    @include fontStyle($BLACK_SHADE_80, $size_16, bold);

    .image {
      width: 50px;
      height: 70px;
      margin: 0 0 20px 0;
    }

    &:hover {
      background-color: $BLACK_SHADE_10;
    }
  }
}
