@import "../../../scss/utilities";
@import "../../../scss/variables";

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  margin-left: 10px;

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1), 1px -1px 1px -1px rgba(0, 0, 0, 0.1), -1px 1px 1px -1px rgba(0, 0, 0, 0.1), -1px -1px 1px -1px rgba(0, 0, 0, 0.1);
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    background-color: $BLACK_SHADE_20;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 22px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px silver;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: $PRIMARY;
  left: -4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.labelText {
  font-size: 14px;
  color: $BLACK;
}
