@import "../../scss/utilities";
@import "../../scss/variables";

.protected-dashboard-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .protected-dashboard-body {
    width: 100vw;
    overflow: hidden;
    flex: 1;
    background-color: $BG_COLOR;
    display: flex;
    flex-direction: column;

    .protected-dashboard-route {
      height: 100%;
      overflow: auto;
      padding-left: $left_nav_width+20;
      padding-right: 40px;
    }
  }
}
