/* Primary colours*/

$PRIMARY: #ff9937;
$BLACK: #000;
$BLACK_SHADE_80: rgba(0, 0, 0, 0.8);
$BLACK_SHADE_60: rgba(0, 0, 0, 0.6);
$BLACK_SHADE_40: rgba(0, 0, 0, 0.4);
$BLACK_SHADE_20: rgba(0, 0, 0, 0.2);
$BLACK_SHADE_10: rgba(0, 0, 0, 0.1);
$WHITE: #fff;
$WHITE_SHADE_20:  rgba(255, 255, 255, 0.2);
$WHITE_SHADE_80:  rgba(255, 255, 255, 0.8);
$DARK_RED: #ca271e;
$RED: #ee2e24;
$RED_SHADE_20: rgba(255, 0, 0, 0.2);
$LIGHT_GREEN: #bfcac3;
$LIGHT_GREY: #e6e6e6;
$DARK_GREY: #a6a6a6;
//$GREEN: #ff9937;
$GREEN: #486853;
$YELLOW: yellow;
$ORANGE: orange;
$BLUE: blue;
$BG_COLOR: #f3f5f7;
$BG_COLOR_DIM: #F8F8F8;
