$size_10: 10px;
$size_14: 14px;
$size_12: 12px;
$size_16: 16px;
$size_18: 18px;
$size_20: 20px;
$size_22: 22px;
$size_25: 25px;
$size_35: 35px;
$size_50: 50px;
$size_70: 70px;
$size_120: 120px;
$home_header_padding: 20px;
$home_header_height: 120px;
$header_height: 70px;
$left_nav_width: 250px;
$table_header_height: 57px;
